.container{
    height: 850px;
    width: 100%;
}

.card-position{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
}

.secButton{
    color: red;
    font-weight: 700;
    
    
}